#resultado {
	height: 600px;
	width: 100%;
}
table td{
	padding: 5px;
}
.fade{
	opacity: 1;
}

text {
	font-size: 8pt;
	pointer-events: none;
}

text.parent {
	font-weight: bold;
	font-size: 10pt;
}

circle {
	fill: #ccc;
	stroke: #999;
	pointer-events: all;
}

circle.parent {
	fill: #1f77b4;
	fill-opacity: .1;
	stroke: steelblue;
}

circle.parent:hover {
	stroke: #ff7f0e;
	stroke-width: .5px;
}

circle.child {
	pointer-events: none;
}